<%- include('../partials/header.ejs') %>
<div class='container'>
<form action='/theater' method='POST' enctype="multipart/form-data">
    <div class="mb-3">
      <label class="form-label">Theater name</label>
      <input type="text" class="form-control" name='theater[name]' placeholder='Name'>
    </div>
    <div class="mb-3">
      <label  class="form-label">Logo</label>
      <input type="file" class="form-control" name='image' accept="image/*">
    </div>
    <div class="mb-3">
      <label  class="form-label">Location</label>
      <input type="text" class="form-control" name='theater[location]' placeholder='Location of your theater.'>
    </div>
    <!-- <div class="mb-3">
      <label class="form-label">url</label>
      <input type="text" class="form-control" name='collection[name]' placeholder='URl'>  
    </div> -->
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href='/theater'>Go back</a>
  </form>
</div>

<%- include('../partials/footer.ejs') %>